@media only screen and (min-width: 768px) {
    .me {
        text-align: end;
    }

    .an {
        text-align: center;
    }
}
.para{
    padding: 5%;
}
.about {
    text-align: center;
}
.descript{
    text-align: center;
    color: white;
}
.largetext {
    font-size: 400%;
}
.largertext{
    font-size: 550%;
}
.spacer{
    padding: 5%;

}
.largerspacer{
    padding: 10%;

}
nav, .top{
    background: #c1d0e3;
}
body {
    background: #111C45;
    font-family: 'Helvetica Neue', sans-serif;
  }
  
  .bubble {
    position: relative;
    font-size: 18px;
    line-height: 24px;
    width: 300px;
    background: #fff;
    border-radius: 40px;
    padding: 24px;
    text-align: center;
    color: #000;
  }
  
  .bubble-bottom-left:before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 24px solid #fff;
    border-right: 12px solid transparent;
    border-top: 12px solid #fff;
    border-bottom: 20px solid transparent;
    left: 32px;
    bottom: -24px;
  }
.des{
    background-color: #111C45;
    color: #c1d0e3;
}
.headshot{
    padding: 10%;
    background-color: #111C45;
}
img{
    max-width: 100%;
}

footer{
    padding: 3%;
    color: white;
}
  /* Add a hover effect if you want */
  .icon:hover {
    opacity: 0.7;
  }
  
.page{
    font-family: 'Poppins', sans-serif;
}