
@media only screen and (min-width: 768px) {
    .bottom {
        margin-top: 5%;
        text-align: end;
        font-size: larger;
      }
      .right{
          margin-top: 5%;
          text-align: start;
          font-size: larger;
      }
      .namealign{
        text-align: end;
      }
      .intro{
        padding-top: 9%;
        place-content: baseline;
      }
}
.tag {
    text-align: center;
    color:white;
    background-color: #111C45;
}
.img-fluid{
    display: block;
}
.page {
    font-family: 'Poppins', sans-serif;
}
.name{
    background-color: #111C45;
    padding-top: 5%;
    padding-bottom: 5%;
}
.an{
    color: white;
    font-weight: bold;
}
.person{
    font-size: 800%;
}
.spacer{
    padding: 10%;
    background-color: #111C45;
}
.cards {
    background-color: #111C45;
}
