
@media only screen and (min-width: 768px) {
    .bottom {
        margin-top: 5%;
        text-align: end;
        font-size: larger;
      }
      .right{
          margin-top: 5%;
          text-align: start;
          font-size: larger;
      }
      .namealign{
        text-align: end;
      }
      .intro{
        padding-top: 9%;
        place-content: baseline;
      }
}

.tag {
    text-align: center;
    color:#c1d0e3;
    background-color: #111C45;
    padding: 5%;
}
nav, .intro{
    background-color: #c1d0e3;
}
.img-fluid{
    display: block;
}
.page {
    font-family: 'Poppins', sans-serif;
}
.name{
    background-color: #111C45;
    padding-top: 5%;
    padding-bottom: 5%;
}
.an{
    color: #c1d0e3;
    font-weight: bold;
}
.card-text, .card-title{
    color: white;
    padding: 2%;
}
.card-subtitle{
    color:#c1d0e3;
    padding: 2%;
}
.card-text{
    font-size: 1.2vw;
}
.person{
    font-size: 800%;
}
.spacer{
    padding: 10%;
    background-color: #111C45;
}
.cards {
    background-color: #111C45;
    padding: 3%;
}
.card {
    background-color: #111C45;
}
.image-background{
    background-color: #111C45;
}
body{
   background-color: #111C45; 
}
footer{
    padding: 3%;
    color: white;
}
  /* Add a hover effect if you want */
  .icon:hover {
    opacity: 0.7;
  }

  .largerspacer{
    padding: 10%;

}