*{
    background-color:  #111C45;
}
nav, .navbar-nav, .collapse{
    background-color:  #c1d0e3;
}
.tag{
    text-align: center;
    color: white;
}
.work{
    font-size: 6.0vw;
}
.spacer{
    padding: 5%;
}
.largerspacer{
    padding: 12%;
}
.cards, .teaser{
    padding: 3%;
}
.learning{
    padding-top: 3%;
    padding-left: 3%;
    padding-right: 9%;
    padding-bottom: 1.5%;
}
.card-text, .card-title{
    color: white;
    padding: 2%;
}
.card-subtitle{
    color:#c1d0e3;
    padding: 2%;
}
.icon{
    text-align: end;
}
.des{
    padding-top: 2.5%;
    color: white;
}
.card {
    background-color: #111C45;
}
.image-background{
    background-color: #111C45;
}
